﻿@model NewProjected.Models.Backery

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Backery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Flavour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flavour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colour)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CakeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
