﻿@model NewProjected.Models.Employees

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Employees</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.RadioButtonFor(m => m.title, "Driver", new { @class = "js-radio", id = "" })<span>Driver</span>
        @Html.RadioButtonFor(m => m.title, "Photographer", new { @class = "js-radio", id = "" })<span>Miss</span>
        @Html.RadioButtonFor(m => m.title, "Mr", new { @class = "js-radio", id = "" })<span>Mr</span>
        @Html.RadioButtonFor(m => m.title, "Ms", new { @class = "js-radio", id = "" })<span>Ms</span>



        })

        <div class="col-md-10">
            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EployeeName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EployeeName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EployeeName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpSurname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpSurname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmpSurname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.RadioButtonFor(m => m.Gender, "Female", new { @class = "js-radio", id = "" })<span>Female</span>
            @Html.RadioButtonFor(m => m.Gender, "Male", new { @class = "js-radio", id = "" })<span>Male</span>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.RadioButtonFor(m => m.Position, "Driver", new { @class = "js-radio", id = "" })<span>Driver</span>
            @Html.RadioButtonFor(m => m.Position, "Photographer", new { @class = "js-radio", id = "" })<span>Miss</span>
            @Html.RadioButtonFor(m => m.Position, "Mr", new { @class = "js-radio", id = "" })<span>Mr</span>
            @Html.RadioButtonFor(m => m.Position, "Ms", new { @class = "js-radio", id = "" })<span>Ms</span>
            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HomeAdress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HomeAdress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HomeAdress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactNum, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactNum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmpCost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
