﻿@model IEnumerable<NewProjected.Models.BookingItems>

@{
    ViewBag.Title = "Index";
}

<h2>Booked Facilities for Order number : @ViewBag.id</h2>

<p>
    @Html.ActionLink("Back To Orders", "OrderDetails")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickupDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deposit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rental)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <th>
        @Html.DisplayFor(model => item.ItemName)
    </th>
    <th>
        @Html.DisplayFor(model => item.PickupDate)
    </th>
    <th>
        @Html.DisplayFor(model => item.ReturnDate)
    </th>
    <th>
        @Html.DisplayFor(model => item.Deposit)
    </th>
    <th>
        @Html.DisplayFor(model => item.Rental)
    </th>
</tr>
}
</table>
