﻿@model IEnumerable<NewProjected.Models.Vehicles>

@{
    ViewBag.Title = "Vehicle Booking";
}

    <style>
        div.gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width:230;
            background-color:mediumpurple;
        }

            div.gallery:hover {
                border: 1px solid #777;
            }

        div.desc {
            text-align: left;
        }
    </style>

<h2>Vehicle Booking </h2>



<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            
            
            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">


                    @{
                        var base64 = Convert.ToBase64String(item.Pic);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                    }
                    <a href='@Url.Action("Details", new { id = item.VehicleID })'>
                        <img src='@imgsrc' height="150" width="230" />
                    </a>

                </a>
                <div class="desc">Vehicle name :  @Html.DisplayFor(modelItem => item.CarName)</div>
                <div class="desc">Deposit amount : R @Html.DisplayFor(modelItem => item.Deposit)</div>
                <div class="desc">Cost per day : R @Html.DisplayFor(modelItem => item.PricePerDay)</div>
                <div class="desc">Max number of passangers : R @Html.DisplayFor(modelItem => item.PassangerNum)</div>
                <div class="desc">Number plate :  @Html.DisplayFor(modelItem => item.numberPlate)</div>
                <button class="btn-success">
                    <a href="@Url.Action("NewBooking", "Tents", new { itemId = item.VehicleID, itemName = item.CarName })">
                        Add Booking
                    </a>
                    @*@Html.ActionLink("Make a booking", "NewBooking", "Tents", new { itemId = item.VehicleID, itemName = item.CarName })*@
                </button>
            </div>
        </tr>
    }

</table>

