﻿@model IEnumerable<NewProjected.Models.Order>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
@{
    ViewBag.Title = "Order Details";
}

    <h2>My Order Details</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.OrderID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderTotal)
    </td>
    <td>
        
        @if (item.Status == true)
        {
            <i class="material-icons" style="font-size:48px;color:red">&#xe153</i>
        }
        else
        {
            <i class="material-icons" style="font-size:48px;color:green">&#xe153</i>
        }

    </td>
    
    <td>
        @Html.ActionLink("View Booked Facilities", "BookingItems", new { id = item.OrderID })
    </td>
</tr>
}

</table>
