﻿@model IEnumerable<NewProjected.Models.Tents>

@{
    ViewBag.Title = "Tents booking";
}
<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
         width:230;
            background-color:mediumpurple
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

    div.desc {
        text-align: left;
    }
</style>
<h2>Tents Booking </h2>


<table class="table">

    @foreach (var item in Model)
    {
        <tr>
           
        <div class="gallery">
            <a target="_blank" href="img_5terre.jpg">


                @{
                    var base64 = Convert.ToBase64String(item.Pic);
                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                }
                <a href='@Url.Action("Details", new { id = item.TentId })'>
                    <img src='@imgsrc' height="150" width="230" />
                </a>

            </a>
            <div class="desc">Tent name :  @Html.DisplayFor(modelItem => item.TentName)</div>
            <div class="desc">Deposit amount : R @Html.DisplayFor(modelItem => item.Deposit)</div>
            <div class="desc">Cost per day : R @Html.DisplayFor(modelItem => item.PriceEachDay)</div>
            <div class="desc">Number of Poles :  @Html.DisplayFor(modelItem => item.NumPoles)</div>
            <button class="btn-success">
                <a href="@Url.Action("NewBooking", "Tents", new { itemId = item.TentId, itemName = item.TentName })">
                    Add Booking
                    </a>
                   @* @Html.ActionLink("Make a booking", "NewBooking", "Tents", new { itemId = item.TentId, itemName = item.TentName })*@
            </button>
        </div>
        </tr>
    }

</table>

