﻿@model IEnumerable<NewProjected.Models.Tents>

@{
    ViewBag.Title = "Order Details";
}
<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

    div.desc {
        text-align: left;
    }
</style>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td></td>
            <td></td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Picture)
                </td>*@
            @*@Html.DisplayFor(modelItem => item.TentName)*@
        <div class="gallery">
            <a target="_blank" href="img_5terre.jpg">


                @{
                    var base64 = Convert.ToBase64String(item.Pic);
                    var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                }
                <a href='@Url.Action("Details", new { id = item.TentId })'>
                    <img src='@imgsrc' height="150" width="175" />
                </a>

            </a>
            <div class="desc">Tent name :  @Html.DisplayFor(modelItem => item.TentName)</div>
            <div class="desc">Deposit amount : R @Html.DisplayFor(modelItem => item.Deposit)</div>
            <div class="desc">Cost per day : R @Html.DisplayFor(modelItem => item.PriceEachDay)</div>
            <div class="desc">Number of Poles :  @Html.DisplayFor(modelItem => item.NumPoles)</div>
            <button class="btn-success">
                @Html.ActionLink("Make a booking", "NewBooking", new { itemId = item.TentId,itemName=item.TentName })
            </button>
        </div>


        </tr>
    }

</table>

