﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body{
            color:wheat;
        }
        .dropbtn {
            background-color: black;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Exquisite Caterers", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Order details", "OrderDetails", "Vehicles")</li>
                    <li>@Html.ActionLink("Booked Facilities", "BookingIndex", "Vehicles")</li>
                  
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">Vehicle Booking</button>
                            <div class="dropdown-content">
                                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <a href="@Url.Action("Create", "Vehicles")">Add new vehicle</a>
                                }
                                    <a href="@Url.Action( "Index", "Vehicles")">Existing Vehicle</a>
                                    @*<a href="#">Link 3</a>*@
                                </div>
                        </div>
                    </li>
                    <li>

                        <div class="dropdown">
                            <button class="dropbtn">Venue Booking</button>
                            <div class="dropdown-content">
                                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <a href="@Url.Action("Create", "Venues")">Add new venue</a>
                                }
                                    <a href="@Url.Action( "Index", "Venues")">Existing venue</a>
                                    @*<a href="#">Link 3</a>*@
                                </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">Tents booking</button>
                            <div class="dropdown-content">
                                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <a href="@Url.Action("Create", "Tents")">Add new Tent</a>
                                }
                                    <a href="@Url.Action( "Index", "Tents")">Existing Tent</a>
                                    @*<a href="#">Link 3</a>*@
                                </div>
                        </div>
                    </li>

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
