﻿@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>Exquisite Cateres</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<hr />
<div class="row-fluid">
    <div class="span12">
        <p><strong>
    The Exquisite-Caterers Catering and Event Planning is a company that specialises on event planning,<br />
    renting out event equipment, and food catering. The business is situated in Durban, it was established in<br />
    the year 2007. Exquisite-Caterers rents out different kinds of equipment including tents, chairs, tables,<br />
    decorations, sound system, cold rooms, and a photographer.
</strong> </p>
    </div>
</div>